        <!--Placeholders-->
        <div class="card-description" >
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/chocolatecake2.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Soft Chocolate Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 400&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.3&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg </p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/rosecake2.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Pure Rose Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 350&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.9&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg</p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/vanilacake1.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Chocolate Vanila Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 250&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.6&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg</p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/strawberrycake3.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Jelly Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 425&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.1&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg</p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/chocolatecake.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Chocolate Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 350&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.2&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg</p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/vanilacake3.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Vanila Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 300&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 3.5&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg </p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/browniecake.jpeg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Brownie Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 250&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.5&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg </p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/anniversarycake.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Special Anniversary Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 350&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.3&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg </p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/chocolatecake1.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Chocolate Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 325&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.7&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg </p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
        </div>