        <!--Placeholders-->
        <div class="card-description" >
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/chocolate.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Vanila Chocolate Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 250&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.9&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg </p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/rosecake1.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Rose Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 300&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.8&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg</p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/vanilacake.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Vanila Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 200&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.6&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg</p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/vanilacake2.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Sweet Vanila Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 325&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.9&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg</p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/chocolatecake5.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Chocolate Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 400&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.7&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg</p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/chocolatecake7.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Candy Chocolate Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 350&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.5&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg </p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/valentinecake.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Rose Vanila Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 325&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 3.9&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg </p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/rosecake3.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Strawberry Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 250&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.3&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg </p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/cocovanilacake.jpg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Coco-Vanila Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 300&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 3.7&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg </p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
        </div>