        <!--Slider-->
        <br><br><br>
        <center>
        <div id="slider">  
            <div class="slides">  
                <img class="sliderbox" src="https://drscdn.500px.org/photo/1062336493/m%3D900/v2?sig=7e76ba1f36cd2a33e15472253f795d502c3092ba4c4fdafef1d0a4fa6f88e0c3" alt="poster" width="85%" />
            </div>
            
            <div class="slides">  
                <img class="sliderbox" src="https://drscdn.500px.org/photo/1062338230/m%3D900/v2?sig=e12bf9001472d0f4916bdaeef87337597055f628cc2ba71e5bd17f928ebcf0d0" width="85%" />
            </div>

            <div class="slides">  
                <img class="sliderbox" src="https://drscdn.500px.org/photo/1062328925/m%3D900/v2?sig=454cafdc2e6d521aa6f837193a2c0c3ca6f54c2e3c6ece232ab6ccf503082951" width="85%" />
            </div> 
              
            <!--<div class="slides">  
                <img class="sliderbox" src="https://www.piemonturismo.it/site/wp-content/uploads/2014/07/13-laghi-grande.jpg" width="85%" />
            </div> 
              
            <div class="slides">  
                <img class="sliderbox" src="https://improvephotography.com/wp-content/uploads/2017/09/Julian-Baird-20170914-3-900px.jpg" width="85%" />
            </div> -->
              
            <div id="dot">
                <span class="dot"></span><span class="dot"></span><span class="dot"></span>
            </div>
        </div>
    </center>
        <br><br>

        <!--Placeholders-->
        <section id="cake">
        <div class="card-description" >
            <a class="card1" href="/birthday">
                <span calss="card1-title">BIRTHDAY CAKE</span>
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/birthdaycake.jpg" alt="Birthday Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div>
            </a>
            <a class="card1" href="/anniversary">
                <span calss="card1-title">ANNIVERSARY CAKE</span>
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/anniversarycake.jpg" alt="Anniversary Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div>
            </a>
            <a class="card1" href="/occation">
                <span calss="card1-title">CAKE BY OCCATIONS</span>
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/occationcake.jpg" alt="Occation Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div>
            </a>
            <!--<a class="card1" herf="">
                <span calss="card1-title">VALENTINE SPECIAL CAKE</span>
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/valentinecake.jpg" alt="Valentine Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div>
            </a>-->
        </div>
        </section>


        
