<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home Page</title>
        	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!--Bootstrap-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
            <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

            <!--Font-->
            <!--<link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Condensed&family=Ubuntu+Mono:ital@1&family=Ubuntu:wght@300&display=swap" rel="stylesheet">-->

            <!--CSS-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
            <link rel="stylesheet" href="/css/style.css">
            <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
            <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
            <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700">-->
            <!--<link rel="stylesheet" href="file:///E:/fontawesome/css/all.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>-->

            <!--JAVA-->
            <!--JAVASCRIPT VESRION4-->
            <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->

            <!--fontawesome-->
            <!--<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>-->
    </head>
    <body class="mainback">
        <!--1st Nav Bar-->
	    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: blueviolet;"> <!--fixed-top fixnav" style="z-index:1000;-->
            <div class="container-fluid">
                <label class="navbar-brand"><img class="logo" src="/img/caketownlogo.png" alt="logo" ></label>
                <div class="search-box">
                    <input class="search-txt" type="text" name="" placeholder="Type to Search">
                    <a class="search-btn" href="#"><i class="fa fa-search"></i>
                    </a>
               </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" ></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggleDemo02">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart"><i class="fa fa-shopping-cart"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/"><i class="fa fa-home"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#AboutUs"><i class='fa fa-address-card'></i></a>
                        </li>
                    </ul>
                </div>
            </div>
	    </nav>
        <!--2nd Nav Bar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" ></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggleDemo02">
                    <ul class="navbar-nav">
                        <li>
                            <a class="" style="color: black;" href="#cake">CAKE</a>
                        </li>
                        <li>
                            <a class="" target="_self" style="color: black;" href="/birthday">
                                BIRTHDAY
                            </a>
                        </li>
                        <li>
                            <a class="" style="color: black;" href="/anniversary">
                                ANNIVERSARY
                            </a>
                        </li>
                        <li>
                            <a class="" style="color: black;" href="/occation">
                                OCCATIONS
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
	    </nav>

        <%- body %>
        
        <!--About Us-->
        <br><br>
        <section id="AboutUs">
            <h1 class="text-3xl font-bold">ABOUT US</h1>
            <img src="/img/caketownlogo.png" style="width: 80px; height: 90px;" alt="Logo"></img><br>
            <h3 class="text-lg font-bold">CAKE TOWN</h3>
            <p><em>'Make your day more Delicious'</em></p><br>
    
            <p>
                <div class="footer">
                    <em><b>"Cake Town"</b></em> online cake application is provide you best and Fresh cake service. This is online Cake shop all over Vadodara. <em><b>"link of side"</b></em> is a link of our online shop.<br><br>          
                    <b><i class="fa fa-phone"></i></b>: 91-9999999999<br>
                    <b><i class="fa fa-envelope"></i></b>: caketown@gmail.come<br>
                    <b>OFFICIAL WEBSITE</b>: 
                </div>
            </p>
        </section>
        <script src="/js/edit.js"></script>
    </body>
</html> 

        
