        <!--Placeholders-->
        <div class="card-description" >
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/occationcake1.jpeg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">God bharai Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 350&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.5&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg </p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/occationcake2.jpeg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">New year Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 300&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.6&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg</p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/occationcake3.jpeg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Diwali Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 350&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 3.6&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg</p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/occationcake4.jpeg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Holi Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 420&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.1&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg</p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/occationcake6.jpeg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Pongal Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 300&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.5&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg</p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/occationcake5.jpeg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Diwali Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 370&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.5&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg </p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/occationcake7.jpeg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Rakhi Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 300&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.5&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg </p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/occationcake8.jpeg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Father's day Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 250&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 4.3&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg </p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
            <a class="card1" href="">
                <div class="card1-image">
                    <div class="forimage" style="width: 100%; height: 100%;">
                        <img src="/img/occationcake9.jpeg" atl="Chocolate Cake" width="100%" height="100%" data-sizes="auto" loading="eager" style="display: inline; border-radius: 5px;">
                    </div>
                </div><br>
                <span class="card1-title">Janmashtami Cake</span>
                <div class="row">
                    <div class="column" >
                        <span class="card-text">Prize: 350&#8377;</span>
                    </div>
                    <div class="column" >
                        <span class="card-text">Rating: 3.7&#9733;</span>
                    </div>
                </div>
                <br>
                <div class="overlay" style="color: black;">
                    <div class="line">
                        <h6 class="title font-bold"><center>More Info</center></h6>
                    </div>
                    <div class="content">
                        <p>Available in 500gm, 1Kg, 2kg </p><br>
                        <center>
                            <button class="addtocart">
                                <span>+</span>
                                <span>Add to cart</span>
                            </button>
                        </center>
                    </div>
                </div>
            </a>
        </div>