<br>
<!--<section class="cart">
    <div class="order-container mx-auto w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/blackcart.png" alt="Cart" width="25px" height="25px">&nbsp;
            <h1>Order summary</h1>
        </div>
        <div class="cake-list">
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/chocolate.jpg" atl="">
                <div class="flex-1 ml-4">
                    <h1>Chocolate cake</h1>
                    <span>500 gm</span>
                </div>
                <span class="flex-1">1</span>
                <span class="font-bold text-lg">250&#8377;</span>
            </div>
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/chocolate.jpg" atl="">
                <div class="flex-1 ml-4">
                    <h1>Chocolate cake</h1>
                    <span>500 gm</span>
                </div>
                <span class="flex-1">1</span>
                <span class="font-bold text-lg">250&#8377;</span>
            </div>
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/chocolate.jpg" atl="">
                <div class="flex-1 ml-4">
                    <h1>Chocolate cake</h1>
                    <span>500 gm</span>
                </div>
                <span class="flex-1">1</span>
                <span class="font-bold text-lg">250&#8377;</span>
            </div>
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total Amount:</span>
                <span class="text-2xl font-bold ml-2">750&#8377;</span>
            </div>
            <div>
                <form action="" class="mt-12">
                    <input class="border border-gray-400 p-2 w-1/2 mb-4" type="text" placeholder="Phone number">
                    <input class="border border-gray-400 p-2 w-1/2" type="text" placeholder="Address">
                    <div>
                        <button class="px-6 py-2 rounded-full font-bold mt-6" type="Submit">Order now</button>
                    </div>
                </form>
            </div>-->
            <!--<a href="" class="inline-block cursor-pointer px-6 py-2 rounded-full font-bold mt-6">Login to continue</a>-->
        <!--</div>
    </div>-->
    <div class="empty-cart">
        <div class="cart-container">
            <h1 class="cart-head">Cart Empty 😞</h1>
            <p class="cart-p">You probably haven't ordered any cake yet.<br>To order a cake, plz go to the main page.</p><br>
            <center><img calss="cart-img" src="/img/cartempty.png" alt="empty-cart"></center><br>
            <a href="/" class="cart-inline-block">Go back</a>
        </div>
    </div>
</section>


